# Build results
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET temp files
App_Data/
App_Temp/
logs/

# NuGet
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Cache global.json SDK version
global.json

# Configuration sensitive
appsettings.Development.json
appsettings.Local.json
appsettings.*.local.json
secrets.json

# Publish
wwwroot/
publish/
*.pubxml
*.pubxml.user

# Cache
*.pidb
*.svclog
*.scc

# Rider / JetBrains
.idea/
*.iml

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# IIS Express
.vs/
iisexpress/
*.dbmdl

# Logs
*.log

# Certificate files
*.pfx
*.p12

# Docker
docker-compose.override.yml
/appsettings.json
